/* Header */

.primary-header {
  background-color: var(--clr-primary-500);
}

/* General spacing and arrangement of the elements match the layouts in the mockups. */

.primary-header__content,
.primary-header__student {
  display: flex;
  align-items: center;
  color: var(--clr-neutral-999);
}

.primary-header__content {
  padding: 1rem;
  justify-content: space-between;
}

/* Add a CSS transition or animation to the bell icon when the user hovers over it. */

.primary-header__notifications {
  fill: white;
  transition: all 0.35s ease;
  cursor: pointer;
}

.primary-header__notifications:hover {
  transform: rotate(-5deg) scale(1.2);
}

/* Includes an alert icon in the header with a marker to notify the user of new alerts and messages. */

.primary-header__student {
  position: relative;
}

.has-notifications::after {
  content: '';
  position: absolute;
  top: 10%;
  right: 82%;
  display: block;
  width: 10px;
  height: 10px;
  background: rgb(255, 56, 56);
  border-radius: 50%;
}

.primary-header__title {
  font-size: 1.75rem;
}

.primary-header__student {
  gap: 1.25rem;
}

.primary-header__image {
  border-radius: 50%;
}

/* Aside Navigation Bar */

.primary-navbar {
  padding: 1rem;
  background: var(--clr-primary-400);
  height: 100%;
}

.primary-navbar__list {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

@media only screen and (min-width: 768px) {
  .primary-navbar__list {
    flex-direction: column;
  }
}

.primary-navbar__item svg {
  fill: white;
}

/* Grid setup */

/* Use CSS grid to lay out the main elements (header, sidebar navigation, main content) on the page. */

.grid {
  display: grid;
}

@media only screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 70px 1fr;
  }
}

.subgrid {
  display: grid;
  gap: 1.5rem;
}

.dashboard {
  display: flex;
  font-size: 1.5rem;
}

.dashboard p {
  padding: 1rem;
}

.dashboard-bg {
  width: 100%;
  background: rgb(245, 245, 245);
  border-left: 1px solid #a6a6a6;
  border-bottom: 1px solid #a6a6a6;
}

.alert {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
  margin: 0.5rem;
  padding: 1rem;
  color: white;
  background: var(--clr-primary-500);
  border-radius: 0.5rem;
}

.notifications-modal {
  display: none;
  position: absolute;
  left: -40%;
  top: 120%;
  background: grey;
  max-width: 150px;
  width: 100%;
  padding: 1rem 1.5rem;
  border: 1px solid white;
  border-radius: 0.5rem;
}

.traffic-heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .traffic-heading {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.traffic-buttons {
  display: flex;
  gap: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .traffic-buttons {
    gap: 1.5rem;
  }
}

.traffic-button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.125rem;
}

/* Secondary chart subgrid */

.chart {
  padding: 1rem;
}

/* Use CSS grid to lay out the main elements (header, sidebar navigation, main content) on the page. */

.subcharts {
  display: grid;
}

@media only screen and (min-width: 768px) {
  .subcharts {
    grid-template-columns: repeat(2, 1fr);
  }
}

.subchart {
  border-block: 1px solid rgb(172, 172, 172);
  padding: 1rem;
}

/* Socials Subgrid */

/* Includes a widget (or three separate widgets) that display social network stats for three social networks.
SVG icons are added as inline SVG's.
SVG fill colors have been changed to match the mockups.
General spacing and arrangement of the elements match the layout of the widget in the mockup. */

.socials {
  display: grid;
  gap: 1.5rem;
  padding: 1rem;
}

.socials-content {
  display: grid;
  gap: 0.5rem;
}

/* Use CSS grid to lay out the main elements (header, sidebar navigation, main content) on the page. */

@media only screen and (min-width: 768px) {
  .socials-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .socials-content {
    gap: 1rem;
  }
}

.social-widget {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background: rgb(241, 241, 241);
  border: 1px solid rgb(192, 192, 192);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

@media only screen and (min-width: 1024px) {
  .social-widget {
    padding: 1rem;
  }
}

.social-title {
  font-weight: 500;
  color: var(--clr-primary-500);
}

.social-svg {
  padding: 1rem;
  background: var(--clr-primary-500);
  border-radius: 50%;
  flex-shrink: 0;
}

.social-svg svg {
  fill: white;
}

.social-count {
  font-size: 2rem;
  font-weight: 200;
}

@media only screen and (min-width: 1024px) {
  .social-count {
    font-size: 3rem;
  }
}

/* Social Activity */

/* Use CSS grid to lay out the main elements (header, sidebar navigation, main content) on the page. */

.social-activities {
  display: grid;
}

@media only screen and (min-width: 1024px) {
  .social-activities {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Includes a widget that lists out new members and displays an avatar, member name, email and join date for each member.
Includes a Recent Activity widget that displays an avatar, type of activity, and time since activity for each member.
General spacing and arrangement of the elements matches the layout of the widgets in the mockup. */

.social-activity-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-block: 1px solid rgb(172, 172, 172);
  padding: 1rem;
}

.social-activity-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1rem;
}

.social-activity-widget div p {
  font-size: 1rem;
}

.social-activity-widget div a {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .social-activity-container:nth-of-type(2) .social-activity-widget::after {
    content: '>';
    font-size: 1.5rem;
    color: var(--clr-primary-500);
    font-weight: bold;
  }
}

/* A mobile-first approach is utilized using min-width properties for media queries. */

/* Appropriate media queries are in place and the content responds to mobile (320px), tablet (768px) and desktop (1024px) screen sizes. */

@media only screen and (min-width: 768px) {
  .social-activity-widget {
    text-align: left;
    justify-content: start;
    flex-direction: row;
  }
  .social-activity-widget p {
    margin-left: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .social-activity-container {
    justify-content: space-between;
    border: 1px solid rgb(172, 172, 172);
  }
}

.social-activity-widget img {
  border-radius: 50%;
}

.social-activity-widget p {
  font-size: 1.25rem;
}

/* Forms and Settings */

.autocompleted-users {
  text-transform: capitalize;
  display: none;
  position: absolute;
  top: 0%;
  right: 0%;
  background: rgb(188, 188, 188);
  padding: 1rem;
  border-radius: 0.5rem;
}

.forms {
  display: grid;
}

@media only screen and (min-width: 1024px) {
  .forms {
    grid-template-columns: repeat(2, 1fr);
  }
}

.form-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-checkboxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 350px;
}

.form-checkbox {
  position: relative;
  appearance: none;
  background: var(--clr-primary-500);
  max-width: 120px;
  width: 100%;
  border-radius: 50vw;
  padding: 1.5rem 1rem;
}

.form-checkbox::after {
  content: '';
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  width: 30px;
  height: 30px;
  background: var(--clr-neutral-999);
  display: block;
  border-radius: 50%;
  position: absolute;
}

.form-checkbox:checked::after {
  left: 65%;
}

.form-buttons {
  display: flex;
  gap: 1rem;
}

.form-button {
  background: var(--clr-primary-500);
  color: var(--clr-neutral-999);
  appearance: none;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  width: 100%;
}

.form-button--cancel {
  background: grey;
}

#message-error-msgs {
  display: none;
}

/* Utility */

.section-subtitle {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 500;
}

.active {
  background: #71c464;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 50vw;
}

@media only screen and (min-width: 1024px) {
  .active {
    padding: 0.5rem 1.5rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.styled-input {
  background: rgb(241, 241, 241);
  border: 1px solid rgb(192, 192, 192);
  padding: 1rem;
  border-radius: 0.5rem;
}

#pie-chart {
  max-height: 300px;
}
